@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

 :root {
    --font-primary: "Baloo da 2", serif;
    --font-secondary: "Josefin Slab", serif;
    --font-tertiary:"Poppins", serif;
    --font-quaternary:"IBM Plex Mono", serif;
    --font-action: "Mulish", serif;
    
}


html {
    scroll-behavior: smooth;
}



.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    /*posição fixada*/
    z-index: 150;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer {
    right: 16rem;
}

.line {
    /*classe Linha do menu*/
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
    /*Transformação das barras para "X"*/
}

.show-menu #Line1 {
    transform: rotate(45deg) translate(.3rem, .45rem);
}

.show-menu #Line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #Line3 {
    transform: rotate(-45deg) translate(.3rem, -.45rem);
}

.hamburguer span {
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #021B79;
    color: #ffffff;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: .5rem solid #021B79;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span {
    opacity: 1;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /*Impede que a imagem crie uma barra de rolagem*/
    position: relative;
    /*Posicionamento relativo*/
}

.img-wrapper {
    overflow: hidden;
    filter: brightness(0.5);
    background-image: url('imagens/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: zoom 1.5s;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 8);
    /*Transparência da cor de RGB*/
}

@keyframes zoom {
    /*Animação da imagem, interação de "Mudar"*/
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1)
    }
}

.banner {
    position: absolute;
    /*Mudar o posicionamento do texto da imagem, sendo que 
    para o position : absolute funcionar, precisa estar dentro
    de um position : relative*/
    top: 30%;
    /*Texto 30 por cento borda superior*/
    left: 10%;
    /*Texto 15% por cento da borda lado esquerdo 
    para o centro*/
}

.banner h1,
h2 {
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
    /*Sombra de texto*/
    line-height: 3.5rem;
    /*Largura de linha do texto*/
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
    /*Velocidade da animação do título*/
}

.banner p {
    /*Fonte e implementação de cores do parágrafo*/
    font-family: var(--font-secondary);
    color: #fff;
    font-size: 2rem;
    text-shadow: 0.2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button {
    /*Fontes do Botão e cores*/
    font-family: var(--font-action);
    color: #fff;
    text-transform: uppercase;
    /*Transformando o texto para maiúsculo*/
    letter-spacing: .1rem;
    background: #0575E6;
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    background: linear-gradient(to right, #021B79, #0575E6);
    /*Degradê do botão*/
    padding: 1rem 3rem;
    /*Margem interna*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}

.banner button:hover {
    /*Interação para o botão*/
    opacity: 0.7;
    color: #001;
}

.banner button a {
    color:#FFF;
}

@keyframes moveBanner {
    /*Interação para título*/
    0% {
        transform: translateY(10rem) rotateY(-30deg);
        /*Translate é a transição eixo Y "CIMA" "DEG" em graus*/
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar {
    z-index: 80;
    /*Menu de barras*/
    width: 20rem;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: -20rem;
    /*-20rem se movimenta para fora da tela*/
    transition: all 1s;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
    margin-bottom: 0.5rem;
}

.menu-link {
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;
}

.menu-link:hover {
    color: #0575E6;
}

.social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    background-color: #021B79;
    color: rgba(255, 255, 255, 1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}

.social-media i:hover {
    background-color: #0575E6;
}





/*Sessão Conhecimentos*/


.sessao-conhecimentos {
    width:100%;
    height:auto;
    margin-top: 0.5rem;
    background: transparent;
    background: linear-gradient(45deg, #000, #272a35);
    /*margin-bottom: 5rem;*/
}
.sessao-conhecimentos h1 {
    text-align: center;
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #fff;
    position: relative;
}

.sessao-conhecimentos h1::before{
    content: '';
    position: absolute;
    height:0.25rem;
    width:12.5rem;
    bottom:0.938rem;
    left:60;
    border-radius:0.5rem;
    background: linear-gradient(45deg, #0575E6, #021B79);
}

/*Ícones do h3 da sessão header*/
.conhecimento-header h3 {
    font-family: var(--font-secondary);
    font-size: 2rem;
    padding-left: 1rem;
}

/*ìcones de conhecimentos*/
.conhecimento-header {
    display: flex;
    align-items: center;
    color:#fff;
    cursor: pointer;
}

.conhecimento-header i {
    text-align: center;
    display: inline-block;
    line-height:1.7cm;
    vertical-align: middle;
    width: 4rem;
    height: 4rem;
    font-size: 2.9rem;
    color:#fff;
    background-color: royalblue;
    box-shadow: 0px 0px 10px rgba(0,0,0,5.0);
    border-radius: 0.9rem;
}

#html{
    background: linear-gradient(120deg, #f06529,#851602);
}

#css{
    background: linear-gradient(120deg, #2965f1, #0a2696);
}
#figma{
    background: linear-gradient(120deg, #d4acc4, #ac5975);
}
#javascript{
    background: linear-gradient(120deg, #ebe713,#928906);
}
#java {
    background: linear-gradient(90deg, #f89820, #2965f1);
}
#mysql{
    background: linear-gradient(120deg, #00758F, #F29111);
}
#git-github{
    background: linear-gradient(120deg, #4b4b4b, #272727);
}

/******************/


.conhecimento-text {
    font-size:0.8rem;
    color:#FFF;
    font-family: var(--font-tertiary);
    margin-top: 1rem;
}

.conhecimento-text p {
    display:none;
}

.conhecimento-header h3::after {
    content: '⬎';
}

.conhecimento-header h3.ativo::after{
    content:'⬏';
}

.conhecimento-text p.ativo {
    display:block;
    animation: slideDown .5s forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
        
    }
    to {
        opacity: 1;
        max-height: 2rem;
    }
}




.conhecimentos {
    width: 100%;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 6rem);
    row-gap: 6rem;
}

/*HTML*/
.conhecimento:nth-child(1) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}


/*CSS*/
.conhecimento:nth-child(2) {
    grid-column: 4 / 6;
    grid-row: 3 / 5;
}


/*Figma*/
.conhecimento:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 5 / -1;
}

/*Javascrip*/
.conhecimento:nth-child(4) {
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

/*MySQL*/
.conhecimento:nth-child(5) {
    grid-column: 11 / 15;
    grid-row: 3 / 5;
}

/*Git e Github*/
.conhecimento:nth-child(6) {
    grid-column: 11 / 14;
    grid-row: 5 / -1;
}
.conhecimento:nth-child(7) {
    grid-column: 11 / 15;
    grid-row: 7 / 7;
}




/*Sessão Projetos*/

/*Container da sessão Projetos*/
.projetos {
    background: linear-gradient(45deg, #000, #272a35);
    width: 100%;
    height: auto;
}
.projetos h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #fff;
    text-align: center;
    display: block;
    position: relative;
}
.projetos h1::before {
    content: '';
    position: absolute;
    height:0.25rem;
    width:12.5rem;
    bottom:0.938rem;
    left:60;
    border-radius:0.5rem;
    background: linear-gradient(45deg, #0575E6, #021B79);
}


/*CARDS da Sessão Projetos*/
.card-containers {
    width:100%;
    height: auto;
    display:flex;
    justify-content: space-evenly;
}
.card {
    margin-top: 5rem;
    width: 25rem;
    height: 30rem;
    position: relative;
}

.card-img-wrapper {
    width: 90%;
    height: 90%;
    background-color: #262626;
    border-radius: 0.5rem;
}

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    opacity: 0.8;
    transition: opacity .3s;
}

.card:hover .card-img-wrapper img {
    opacity: 0.5;
}

.card-info {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, .6);
    transition: all .3s;
}

.card-info h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
}

.card-info h3 {
    font-family: var(--font-action);
    font-weight: bolder;
    color: #0575E6;
    margin-bottom: 1.5rem;
}

.card-info p {
    font-family: var(--font-secondary);
    font-weight: 400;
    color: #eee;
    width: 80%;
    margin-bottom: 2rem;
}

.btn {
    background: #0575E6;
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    background: linear-gradient(to right, #021B79, #0575E6);
    font-family: var(--font-action);
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, .4);
}

.card-info button {
    cursor: pointer;
    width: 8rem;
    height: 2.5rem;
}

.card:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}







/*Sessão de CONTATOS*/

.sessao-contato {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:1rem;
    margin-top: 1rem;
}

.contato-wrapper {
    width: 60%;
    height: 30rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}

.contato-left {
    width: 35%;
    background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(25, 25, 25, 0.9)), url(imagens/contato.jpg);
    background-size: cover;
}


.contato-right {
    width: 65%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;
    display:flex;
    flex-direction: column;
}

.sessao-contato h1 {
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: #272727;
    font-size: 3rem;
    font-weight: lighter;
    margin-bottom:2rem;
    position: relative;
}

.sessao-contato h1::before {
    content:'';
    position:absolute;
    height:0.25rem;
    width:9.375rem;
    bottom:0.938rem;
    left:50;
    border-radius:8px;
    background: linear-gradient(to right, #0575E6,#021B79);
}


.btn.btn-submit {
    width:100%;
    padding: 2rem;
}


/*Formulário de Contato*/
.input-group {
    position:relative;
}
.input-group input {
    background: transparent;
    outline: none;
    border: none;
    font-size: 0.9rem;
    color:rgba(0, 0, 0, 0.7);
}

.input-group input::placeholder{
    color:rgba(0, 0, 0, 0.5);
}

.input-group:first-child{
    margin-bottom:1.5rem;
}

.input-group:nth-child(2){
    margin-bottom: 1.5rem;
}
.input-group .underline::before{
    content:'';
    position: absolute;
    height:1px;
    width:100%;
    bottom:-5px;
    left:0;
    background:rgba(0, 0, 0, 0.2);
}
.input-group .underline::after{
    content:'';
    position: absolute;
    height:1px;
    width:100%;
    bottom:-5px;
    left:0;
    background:linear-gradient(45deg,#0575E6, #021B79);
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    transform-origin: left;
}
.input-group input:focus ~ .underline::after{
    transform: scaleX(1);
}


/*Label*/
.field{
    border:none;
    width:30rem;
}

/*Caixa de Mensagem*/
.input-group textarea {
    background: transparent;
    border:none;
    outline:none;
}


/*Botão Enviar de contatos*/

.btn.btn-submit{
    margin-top:2rem;
    padding:0.4rem;
    background: linear-gradient(to left, #021B79, #0575E6);
    cursor: pointer;
    color:white;
    font-size:0.9rem;
    font-weight: 300;
    border-radius:4px;
    transition: all 0.3s ease;
}

.btn.btn-submit:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #021B79,#0575E6);
}





/*Sessao Sobre mim */
.sessao-sobremim {
    text-align: center;
    /* background: url(/imagens/minhaimagem.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #272727,#272a35);
    margin-bottom:3rem;
}

.sessao-sobremim h1 {
    color:white;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: lighter;
    margin-bottom: 2rem;
    position: relative;
}

.sessao-sobremim h1::before{
    content: '';
    position: absolute;
    height:0.25rem;
    width:12.5rem;
    bottom:0.938rem;
    left:60;
    border-radius:0.5rem;
    background: linear-gradient(45deg, #0575E6, #021B79);
}

.sessao-sobremim h2 {
    color:#FFF;
    font-family: var(--font-secondary);
    font-size: 3rem;

}

.descricao-sobremim {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    margin: 0 auto;
}

.descricao-sobremim img {
    max-width:15rem;
    border: 5px solid #FFF;
    border-radius:50% 50% 48% 52% / 20% 20% 80% 80%;
    margin-bottom:2rem;
    box-shadow: 0px 0px 15px rgba(0,0,0,5.0);
}

.descricao-texto {
    font-size: 1rem;
    font-family: var(--font-action);
    max-width: 400px;
    color:#fff;
}

.descricao-texto a {
    color:#fff;
}
#link-recode {
    color:#0575E6;
}

.sobremim-botao{
    margin-top:1rem;
    font-family: var(--font-action);
    color: #fff;
    text-transform: uppercase;
    /*Transformando o texto para maiúsculo*/
    letter-spacing: .1rem;
    background: #0575E6;
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    background: linear-gradient(to right, #021B79, #0575E6);
    /*Degradê do botão*/
    padding: 1rem 3rem;
    /*Margem interna*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button_icon{
    font-size:1.5rem;
}






/*ORÇAMENTO*/

.sessao-orcamento {
    margin-top: 2rem;
    width: 100%;
    height: 100vh;
    background: url(/imagens/bg-orcamento.jpg);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.orcamento-wrapper {
    width: 90%;
    height: 80%;
    background-color: #ffffff99;
    border-radius: 10px;
    box-shadow: 0 0.1rem rgba(0, 0, 0, 0.5);
    position: relative;
}

.sessao-orcamento h1 {
    width:60%;
    position: absolute;
    top:-2.5rem;
    left: 2.5rem;
    background: #0575E6;
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    background: linear-gradient(to right, #021B79, #0575E6);
    padding: 0 3rem;
    color: #fff;
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: lighter;
    box-shadow: 0 0.1rem rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.sessao-orcamento form {
    margin: 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.sessao-orcamento label {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: bold;
}

.sessao-orcamento input[type="number"] {
    font-family: var(--font-secondary);
    width: 4rem;
    font-size: 2rem;
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 0.3rem;
}

.btn-orcamento {
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    grid-column: 2;
}




/*Footer*/ 

footer {
    width: 100%;
    height: 7rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p {
    font-family: var(--font-secondary);
    color: #a7a7a7;
    font-size: 1.2rem;
}

.social-list a {
    margin: 0 2rem;
    color: #a7a7a7;
    font-size: 1.3rem;
}

.social-list ul {
    display: flex;
}



#link-topo {
    z-index: 90;
    position: fixed;
    right: 0;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    background: #0575E6;
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    background: linear-gradient(to right, #021B79, #0575E6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0 0.1rem 0.6rem #00000009;
}



/*Animação de Scroll*/
.js-scroll {
    opacity: 0;
    transform: translateX(-30px);
    transition: all 0.5s;
}

.ativo {
    opacity: 1;
    transform: translateX(0);
    
}




/*Resposividade*/

@media screen and (max-width:768px) {
    .container {
        overflow: hidden;
    }
    
    header {
        width: 100%;
    }

    /*Menu*/
    .sidebar {
        z-index: 80;
        /*Menu de barras*/
        width: 10rem;
        height: 100vh;
        background-color: #ffffff;
        position: fixed;
        top: 0;
        right: -20rem;
        /*-20rem se movimenta para fora da tela*/
        transition: all 1s;
    }
    .menu-link {
        font-size: 1.2rem;
    }

    .show-menu .hamburguer {
        right: 10rem;
    } 
    /************/


    /*Sessao de conhecimentos*/
    .sessao-conhecimentos h1 {
        font-family: var(--font-primary);
        font-size: 2.5rem;
        color: #fff;
        
    }
    .conhecimentos {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1fr 1fr);
        grid-template-rows: (7);
        row-gap: 12rem;
    }
    .conhecimento-text {
        font-family: var(--font-tertiary);
        margin-top: 0.5rem;
        display: flex;
    }
    .conhecimentos-img-wrapper {
        width: 50%;
        height: 50%;
        grid-column: 6;
        grid-row: 0;
    }
    /*HTML*/
    .conhecimento:nth-child(1) { 
        text-align: center;
        display: grid;
        grid-column: 6;
        grid-row: 1;
        margin-top: 2rem;
    }
    /*CSS*/
    .conhecimento:nth-child(2) { 
        text-align: center;
        grid-column: 6;
        grid-row: 2;
    }
    /*FIGMA*/
    .conhecimento:nth-child(3) {
        text-align: center;
        display: grid;
        grid-column: 6;
        grid-row: 3;
    }
    /*JAVASCRIPT*/
    .conhecimento:nth-child(4) {
        text-align: center;
        display: grid;
        grid-column: 6;
        grid-row: 4;
    }
    /*JAVA*/
    .conhecimento:nth-child(5) {
        text-align: center;
        display: grid;
        grid-column: 6;
        grid-row: 5;
    }
    /*MYSQL*/
    .conhecimento:nth-child(6) {
        display: grid;
        text-align: center;
        grid-column: 6;
        grid-row: 6;
    }
    /*GIT E GITHUB*/
    .conhecimento:nth-child(7) {
        display: grid;
        text-align: center;
        grid-column: 6;
        grid-row: 7;
        margin-bottom: 1rem;
    }
    /********************/


    /*Sessao Projetos*/
    .projetos {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
    }
    .card-containers {
        width:100%;
        height: auto;
        display:flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0 auto;
        
    }
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 5rem;
        width: 20rem;
        height: 30rem;
        position: relative;
    }
    /******************/


    /*Sessao Contato*/
    .sessao-contato {
        margin-top: 1rem;
        width: auto;
        height: 100vh;
    }
    .contato-wrapper {
        width: 100%;
        height: auto;
    }
    .contato-right {
        margin-right: auto;
        width: 40%;
        height: auto;
        border-radius: 0.2rem;
    }
    .contato-left {
        margin-left: auto;
        width: 40%;
        height: auto;
        border-radius: 0.2rem;
    }
    
    .field {
        background: transparent;
        border: none;
        width: 16rem;
        font-size: 1.5rem;
        font-family: var(--font-secondary);
        border-bottom: 2px dashed #636363;
        height: 3rem;
        outline: none;
        margin: 1rem 0;
    }
    .field-label {
        position: absolute;
        left: 0;
        top: 2rem;
        font-size: 1.2rem;
        font-family: var(--font-secondary);
        text-transform: uppercase;
        transition: all 0.3s;
    }
    .field:focus~label {
        top: 0;
        font-size: 1rem;
    }
    .fiel:focus {
        border-bottom: 1px solid;
    }
    .input-group {
        position: relative;
    }
    .input-group textarea {
        padding-top: 1rem;
        max-width: 25rem;
        max-height: 3rem;
    }
    /************************/

    
    /*Sobre mim*/
    .sessao-sobremim{
        width:100%;
        height:auto;
    }
    .descricao-sobremim img {
        max-width:15rem;
    }

    /*Orcamento*/
    .sessao-orcamento form {
        width:60%;
        height: 90%;
        display: block;
        margin-top: 8rem;
        column-gap: 2rem;
        row-gap: 5rem;
    }
    .sessao-orcamento input {
        display:flex;
    }
    .orcamento-wrapper {
        width: 100%;
        height: 90vh;
    }
    .orcamento-wrapper h1 {
        margin-top: 2rem;
        width:60%;
        height: auto;
        font-size:2rem;
    }

    .btn.btn-orcamento {
        width:100%;
    }
    

    /*Footer*/
    .footer-content {
        width: 100%;
        height: auto;
    }
    .social-list a {
        margin: 0 2rem;
        color: #a7a7a7;
        font-size: 1.3rem;
    }
    .social-list i {
        display:flex;
        flex-wrap: wrap;
    }

    /*Arrow do canto da pagina*/
    #link-topo {
        bottom: 5rem;
        width: 2.5rem;
    }
    
}


